/* 
------------------
UTILITIES
------------------
*/

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.img-fluid {
    width: 100%;
    border-radius: 100%;
}

.ms-10 {
    margin-left: 0.625rem;
}

.gapx-10 {
    gap: 0.625rem ;
}